---


---

<script>
import sdk from '@stackblitz/sdk'


sdk.embedProjectId(
  'elementOrId',
  'vitest-dev-vitest-wmgshs9c',
  {
    forceEmbedLayout: true,
    openFile: 'test/basic-types.test.ts',
    view: 'editor',
  }
);
</script>
<div id="elementOrId"  class="stackblitz-embed w-svw h-svh"></div>