---
const { project, file } = Astro.props;
---

<stackblitz-embed
  data-project={project}
  data-file={file}
  class=" ">
    <div id="sb" class="stackblitz-embed w-svw h-svh"></div>
</stackblitz-embed>

<script>
  import sdk from "@stackblitz/sdk";


  class StackBlitzEmbed extends HTMLElement {
    connectedCallback() {
      sdk.embedProjectId("sb", this.dataset.project || "", {
        forceEmbedLayout: true,
        openFile: this.dataset.file,
        view: "editor",
        clickToLoad: true,
        width: "100%",
        height: "100%",
      });
    }
  }
  customElements.define("stackblitz-embed", StackBlitzEmbed);
</script>

<!-- /*
import sdk from '@stackblitz/sdk'

sdk.embedProjectId(
  'elementOrId',
  'vitest-dev-vitest-wmgshs9c',
  {
    forceEmbedLayout: true,
    openFile: 'test/basic-types.test.ts',
    view: 'editor',
  }
);
*/ -->